.total-admin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
}

.total-sort {
  display: flex;
}
.total-count {
  color: #928f94;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.total-select {
  color: #928f94;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 48px;
}

.total-select > select {
  border: none;
  color: #292929;
  font-family: Roboto;
  font-size: 18px;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0 5px;
}

.totalSelect {
  display: flex;
  gap: 20px;
}

.total-show {
  color: #928f94;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.total {
  color: #928f94;
  font-family: Roboto;
  font-size: 18px;
  cursor: pointer;
  height: 0px;
}

.total::before {
  content: attr(data_count);
}

.total:hover::before {
  color: #FFCA62;
}

.total:active::before {
  font-weight: 700;
  color: #FFCA62;
}

.total:checked::before {
  color: #292929;
}