.coachNumber {
  color: #292929;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.selected {
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}
