.block-content-main-passenger {
  padding: 30px;
  border-top: 1px solid #e5e5e5;
  display: flex;
}

.block-content-main-passenger-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 32px;
}

.block-content-main-passenger-header p {
  margin-top: 17px;
  color: #292929;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.passenger-body-name {
  color: #292929;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 15px;
}

.passenger-body-gender,
.passenger-body-date,
.passenger-body-document {
  color: #928f94;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
