.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 5px 15px;
  background-color: #ffa80070;
  color: #292929;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.coach-numbers {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.coach-number {
  color: #292929;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
