.info {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.coachNumberContainer {
  display: flex;
  flex-direction: column;
  background-color: #ffd98f;
  padding: 30px 60px 50px 30px;
  width: 100%;
}

.coachNumberBig {
  color: #292929;
  font-family: Roboto;
  font-size: 72px;
  font-weight: 700;
  line-height: 50px;
}

.coachNumberText {
  color: #292929;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.seatsQuantityContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 25px;
}

.blockSubtitle {
  color: #928f94;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.blockText {
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.seatsQuantityBig {
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

.seatsQuantitySmall {
  color: #000000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.priceSeatsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 25px;
}

.priceSeats {
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
}

.currency {
  color: #928f94;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 25px;
}