.ticketsQuantity {
  padding: 20px;
  border-bottom: 1px solid #C4C4C4;
}

.title {
  color: #292929;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
}

.ticketsQuantityContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 200px;
}

.container {
  width: 100%;
  min-width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;

  border: 1px solid #292929;
  border-radius: 3px;
}

.input{
  flex: 1;
  width: 100%;
  padding-left: 5px;

  color: #292929;
  font-family: Roboto;
  font-size: 16px;
  outline: none;
  border: none;
}
.prefix{
  color: #292929;
  font-family: Roboto;
  font-size: 16px;
}

.ticketSelector-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
}

.ticketSelector-container:hover {
  outline: 1px solid #ffa800c9;
}
